#!/usr/bin/env python
# https://raw.githubusercontent.com/suptronics/x708v2.0/main/pld.py
# Test PLD without shutting down

import RPi.GPIO as GPIO

GPIO_PLD_PORT  = {{ x708_pldpin }}

GPIO.setmode(GPIO.BCM)
GPIO.setup(GPIO_PLD_PORT, GPIO.IN)

def my_callback(channel):
    if GPIO.input(GPIO_PLD_PORT):     # if port GPIO_PLD_PORT == 1
        print ("---AC Power Loss OR Power Adapter Failure---")
    else:                  # if port GPIO_PLD_PORT != 1
        print ("---AC Power OK,Power Adapter OK---")

GPIO.add_event_detect(GPIO_PLD_PORT, GPIO.BOTH, callback=my_callback)

print ("1.Make sure your power adapter is connected")
print ("2.Disconnect and then connect the power adapter again to test")
print ("3.When power adapter disconnected, you will see: AC Power Loss or Power Adapter Failure")
print ("4.When power adapter reconnected, you will see: AC Power OK, Power Adapter OK")

input("Testing Started")

