#!/usr/bin/env python
# Test PLD with actual shutdown

import RPi.GPIO as GPIO
import time

GPIO_BUTTON_PORT  = {{ x708_buttonpin }}
GPIO_PLD_PORT  = {{ x708_pldpin }}

GPIO.setmode(GPIO.BCM)
GPIO.setup(GPIO_PLD_PORT, GPIO.IN)
GPIO.setup(GPIO_BUTTON_PORT, GPIO.OUT)
GPIO.setwarnings(False)

def my_callback(channel):
    if GPIO.input(GPIO_PLD_PORT):     # if port GPIO_PLD_PORT == 1
        print ("---AC Power Loss OR Power Adapter Failure---")
        print ("Shutdown in 5 seconds")
        time.sleep(5)
        GPIO.output(GPIO_BUTTON_PORT, GPIO.HIGH)
        time.sleep(3)
        GPIO.output(GPIO_BUTTON_PORT, GPIO.LOW)

#time.sleep(2)

    else:                  # if port GPIO_PLD_PORT != 1
        print ("---AC Power OK,Power Adapter OK---")

GPIO.add_event_detect(GPIO_PLD_PORT, GPIO.BOTH, callback=my_callback)
input("Testing Started")
